version: 2

updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: 'daily'
    versioning-strategy: 'increase'
    ignore:
      - dependency-name: 'prettier'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: 'daily'
    versioning-strategy: 'increase-if-necessary'
    allow:
      - dependency-name: 'prettier'
